<h1>share your snippet</h1>
<%= semantic_form_for @snippet, :url => snippets_path do |f|  %>
  <%= f.input :content, :label => false %>
  <div class='bottom'>
    <%= f.input :language_id, :as => :select, :include_blank => false, :collection => Language.list_all, :label => false %>
    <%= f.input :private %>
    <%= f.buttons %>
  </div>
<% end -%>
