<!DOCTYPE html>
<html>
<head>
  <title>Grouppet</title>
  <%= stylesheet_link_tag 'formtastic', 'syntax' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <% flash.each do |key, value| -%>
    <div class="flash <%= key %>"><%= value %></div>
  <% end -%>

<%= yield %>

</body>
</html>
