<!DOCTYPE html>
<html>
<head>
  <title>Grouppet</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.5.1.min', 'jquery-syntax/jquery.syntax.min' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <% flash.each do |key, value| -%>
    <div class="flash <%= key %>"><%= value %></div>
  <% end -%>

<%= yield %>

</body>
</html>
