<!DOCTYPE html>
<html>
<head>
  <title>Grouppet</title>
  <%= stylesheet_link_tag 'formtastic', 'syntax', 'application' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="login">
    <%= link_to 'Log-out', sign_out_path, :method => :delete %>
    <%= link_to 'Manage Groups', groups_path %>
  </div>

  <% flash.each do |key, value| -%>
    <div class="flash <%= key %>"><%= value %></div>
  <% end -%>

  <div class='menu'>
    <ul class="list">
      <li><%= link_to 'Public Timeline', public_snippets_path %></li>
      <li><%= link_to 'Private Timeline', private_snippets_path %></li>
      <li><%= link_to 'Friends', '#' %> |</li>
      <li><%= link_to 'Account', '#' %></li>
    </ul>
  </div>

  <%= yield %>

</body>
<footer>
  <% if Rails.env.development? %>
    <div class="footer_params"><%= params.inspect %></div>
    <div class="footer_session"><%= session.inspect %></div>
  <% end %>
</footer>
</html>
